#nav-bar {
	display: flex;
	/* width: 80%; */
	margin: auto;
    /* border: solid 1px; */
	
}
#nav-options>li>button{
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: rgb(240, 115, 115);
	size: 20px;
}
#nav-options>li>button:hover{
	
}
.logo {
	width: 15vh;
}
.logo > a > img {
	width: 100%;
}
#nav-options {
	display: flex;
	width: 100%;
	list-style: none;
	justify-content: space-around;
}
#nav-options > li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 130%;
	padding: 5px 15px;
	font-weight: bolder;
}
#nav-options a {
	color: black;
	text-decoration: none;
}
#nav-options > li:hover {
	border-radius: 100px;
	background-color: rgb(235, 232, 232);
	transition: background-color 0.5s;
}
#nav-options > :nth-child(2) {
	/* for gap between menu,deals and account,cart */
	margin-right: 50%;
}



/* all responsive related styles */
#nav-bar > h1 {
	display: none;
}
#hamburger {
	display: none;
}
.toggle-display {
	/* to toggle display of #nav-options */
	display: block !important;
}
@media screen and (max-width: 900px) {
	#nav-options {
		display: none;
	}
	#nav-options > :nth-child(2) {
		/* for gap between menu,deals and account,cart */
		margin: auto;
	}
	#hamburger {
		display: block;
		padding: 0;
		width: 5vh;
		height: fit-content;
	}
	#hamburger > img {
		width: 100%;
	}
	#nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	#nav-bar > h1 {
		display: block;
	}
	#nav-bar > button {
		border: 0;
		background-color: rgba(0, 0, 0, 0);
	}
	#nav-bar > button:hover {
		cursor: pointer;
	}	
}


/* ****** */
#form{
    padding-top: 20px;
    margin: auto;
    padding-left: 40px;
    /* border:solid 1px red; */
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;

    
}
#form>input,label{
    font-size: 30px;
}
#logbtn{
    width: 300px;
    height: 40px;
    background-color: rgb(236, 111, 111);
    color: white;
    border: none;
    border-radius: 30px;
}

/*......pagination....... */

#pagination{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-auto-rows: 1fr;
    margin: 8px;
}
@media screen and (min-width:100px) and (max-width:650px){
    #pagination{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
#pagination>div{
   border-radius: 10px;
    /* border: solid 3px black; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}

#pagination>div>img{
    width:100%;
}
#pagination>div>h3,p,h4{
    padding-left: 20px
}
#pagination>div>button{
margin: auto;
margin-left: 10px;
margin-bottom: 10px; 
width: 60px;
height: 30px;
border-radius: 10px;

}
#pagination>div>button:hover{
    background-color:rgb(209, 95, 95);
    color: white;
    border: none;
}
.pagestyle{
	display: flex;
	padding-left: 50%;
	gap:5px;
	padding-bottom: 10px;
	padding-top: 10px;
}