#nav-bar {
	display: flex;
    position: fixed;
    top: 0px;
    overflow: hidden;
	width: 100%;
	margin: auto;
    background-color: white;
    height: 100px;
	
}
#nav-options>li>button{
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: rgb(240, 115, 115);
	size: 20px;
}
#nav-options>li>button:hover{
	
}
.logo {
	width: 15vh;
}
.logo > a > img {
	width: 100%;
}
.logo>img{
	width: 100px;
}
#nav-options {
	display: flex;
	width: 100%;
	list-style: none;
	justify-content: space-around;
}
#nav-options > li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 130%;
	padding: 5px 15px;
	font-weight: bolder;
}
#nav-options a {
	color: black;
	text-decoration: none;
}
#nav-options > li:hover {
	border-radius: 100px;
	background-color: rgb(235, 232, 232);
	transition: background-color 0.5s;
}
#nav-options > :nth-child(2) {
	/* for gap between menu,deals and account,cart */
	margin-right: 50%;
}



/* all responsive related styles */
#nav-bar > h1 {
	display: none;
}

.toggle-display {
	/* to toggle display of #nav-options */
	display: block !important;
}
@media screen and (max-width: 900px) {
		#nav-options {
			display: none;
		} */
		#nav-options > :nth-child(2) { 
			/* for gap between menu,deals and account,cart */
			 margin: auto;
		}
		
	#nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	#nav-bar > h1 {
		display: block;
	}
	#nav-bar > button {
		border: 0;
		background-color: rgba(0, 0, 0, 0);
	}
	#nav-bar > button:hover {
		cursor: pointer;
	}	
}


/* ****** */
#form{
	padding: 2%;
    /* padding-top: 20px; */
    margin: auto;
    /* padding-left: 40px; */
    /* border:solid 1px red; */
    /* height: 400px; */
	height: fit-content;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
	/* background-color: rgb(205, 101, 93); */
	margin-top: 140px;
    
}
#wrong{
	color: rgb(129, 3, 3);
	font-size: 20px;
}
#form>input[type="text"]{
	width: 100%;
	height: 30px;
}
#form>input,label{
    font-size: 20px;
	margin-top: 5px;

}
#form>input:nth-child(1), #form>input:nth-child(2){
	width: 100%;
}
#form>h1{
	color: rgb(11, 10, 10);
}
#logbtn{
	display: block;
	margin: auto;
    width: 80%;
    height: 40px;
    background-color: rgb(178, 16, 16);
    color: white;
    border: none;
    border-radius: 30px;
}

/*......pagination....... */

#pagination{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-auto-rows: 1fr;
    margin: 8px;
	margin-top: 110px;
	/* margin: auto 3%; */
	margin: 7% 3% auto 3%;
}
@media screen and (min-width:100px) and (max-width:650px){
    #pagination{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
#pagination>div{
   border-radius: 10px;
    /* border: solid 3px black; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	
    
}

#pagination>div>img{
    width:100%;
}
#pagination>div>h3,p,h4{
    padding-left: 20px
}
#pagination>div>button{
margin: auto;
margin-left: 10px;
margin-bottom: 10px; 
width: 60px;
height: 30px;
border-radius: 10px;

}
#pagination>div>button:hover{
    background-color:rgb(209, 95, 95);
    color: white;
    border: none;
}
.pagestyle{
	display: flex;
	padding-left: 50%;
	gap:5px;
	padding-bottom: 10px;
	padding-top: 10px;
}
/* 
user edit button */
.edit1 {
	backdrop-filter: blur(20px);
	width: 100%;
	z-index: 999999;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s ease;
  }
  .edit1.active {
	visibility: visible;
	opacity: 1;
  }
  .edit1 > div {
	backdrop-filter: blur(10px);
	position: relative;
	background-color: white;
	top: 25%;
	left: 30%;
	max-width: 350px;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0;
	transform: scale(0);
	transition: transform 0.5s ease;
  }
  .edit1.active>div {
	transform: scale(1);
	}